<h1>{{ pageTitle }}</h1>
<p><strong>Collection id:</strong> {{ collection_id }}</p>
<p><strong>Collection status:</strong> {{ collection_status }}</p>
<p><strong>External reference:</strong> {{ external_reference }}</p>
<p><strong>Payment type:</strong> {{ payment_type }}</p>
<p><strong>Preference id:</strong> {{ preference_id }}</p>
